<div class="row mt-4">
  <div class="col-md-8">
    <h2>Add new item</h2>

    <form action="/items/save" method="post">
      <div class="form-group">
        <label for="nama_item">Nama Item</label>
        <input
          type="text"
          class="form-control"
          name="nama_item"
          id="nama_item"
          required
        />
      </div>
      <div class="form-group">
        <label for="unit">Unit</label>
        <select name="unit" class="custom-select" id="unit" required>
          <option value="" selected>-- Choose --</option>
          <option value="kg">KG</option>
          <option value="pcs">PCS</option>
        </select>
      </div>
      <div class="form-group">
        <label for="stok">Stok</label>
        <input
          type="number"
          class="form-control"
          name="stok"
          id="stok"
          required
        />
      </div>
      <div class="form-group">
        <label for="harga_satuan">Harga Satuan</label>
        <input
          type="number"
          class="form-control"
          name="harga_satuan"
          id="harga_satuan"
          required
        />
      </div>
      <div class="form-group">
        <label for="barang">Barang</label>
        <input type="file" class="form-control" name="barang" id="barang" />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
